<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sofia.ViewHost.WindowsForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>		
    </configSections>
    <applicationSettings>
        <Sofia.ViewHost.WindowsForm.Properties.Settings>
            <setting name="PluginsPath" serializeAs="String">
                <value>E:\developpement\sofia\windows\plugins</value>
            </setting>
        </Sofia.ViewHost.WindowsForm.Properties.Settings>
	</applicationSettings>
	<system.data>
		<DbProviderFactories>
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".Net Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient, Version=2.0.1.0, Culture=neutral, PublicKeyToken=3750abcc3150b00c" />
		</DbProviderFactories>
	</system.data>
</configuration>