<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="shellitems" type="BankShell.ShellItemsSection, BankShell" />
		<section name="CompositeUI" type="Microsoft.Practices.CompositeUI.Configuration.SettingsSection, Microsoft.Practices.CompositeUI" allowExeDefinition="MachineToLocalUser" />
	</configSections>
	<CompositeUI>
		<visualizer>
			<add type="SampleVisualizations.WorkItemVisualizer, SampleVisualizations" />
		</visualizer>
		<services>
			<add
				serviceType="Microsoft.Practices.CompositeUI.Services.IStatePersistenceService, Microsoft.Practices.CompositeUI"
				instanceType="Microsoft.Practices.CompositeUI.Services.IsolatedStorageStatePersistenceService, Microsoft.Practices.CompositeUI" />
		</services>
	</CompositeUI>
	<shellitems>
		<menuitems>
			<add id="1" site="FileDropDown" label="E_xit" commandname="FileExit" key="Alt+F4" />
			<add id="2" site="MainMenu" label="_Edit" register="true" registrationsite="Edit" mergeorder="1" />
			<add id="3" site="MainMenu" label="_Help" register="true" registrationsite="Help" mergeorder="100" />
			<add id="4" site="Help" label="_About..." commandname="HelpAbout" key="F1" />
		</menuitems>
	</shellitems>
</configuration>
