<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Sofia.Cab.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="shellItems" type="Sofia.Cab.Shell.ShellItemsSection, Sofia.Cab.Shell" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Sofia.Cab.Shell.Properties.Settings>
   <setting name="Test" serializeAs="String">
    <value>Test</value>
   </setting>
  </Sofia.Cab.Shell.Properties.Settings>
  <shellItems>
			<menuItems>
				<add id="1" site="FileDropDown" label="E_xit" commandName="FileExit" key="Alt+F4" />
			</menuItems>
		</shellItems>
	</applicationSettings>
</configuration>