<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="shellItems" type="Sofia.Cab.Shell.ShellItemsSection, Sofia.Cab.Shell" />
	</configSections>
	<shellItems>
		<menuItems>
			<add id="1" site="FileDropDown" label="E_xit" commandName="FileExit" key="Alt+F4" />
		</menuItems>
	</shellItems>
</configuration>
